
body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    background-image: url("background.jpg");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    background-attachment: fixed;
    background-size: 100%;
}

h2 {
    margin-top: 1.3em;
}


img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 30%;
}


@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

td {
  float: left;
    display: inline;
}

td a{
    display: block;
    text-align: center;
    padding: 18px 18px 18px 22px;
    text-decoration: none;
    background-color: rgba(255,255,255,0.5); 
        border-radius: 2px;
        color: #c70039;
    font-family: 'Quicksand', sans-serif;
}

td a:hover {
  background-color: white;
    -webkit-transform: translateY(8px);
  transform: translateY(8px);
    border-radius: 5px;
    transition-duration: 0.6s;
    background-color: rgba(255, 163, 189, 0.64); 
    color: #900c3e;
}

button {
      border-radius: 40px;
  background-color: #545454;
  color: #FFFFFF;
  text-align: center;
  font-size: 16x;
  padding: 10px;
  width: 14%;
  transition: all 0.5s;
  cursor: grabbing;
    margin: 7% 45% 3% 45%;
    display: inline-block;
  position: relative;
}


button:after {
  content: '\f359';
font-family: FontAwesome;
  position: absolute;
  left: -10px;
  transition: 0.5s;
}

button:hover {
  padding-left: 25px;
}

button:hover:after {
  opacity: 1;
  left: 0;
}

h1 {text-align:center;}

div, td {text-align:center;}


